.hero-photo-grid-container {
  /* grid-template-columns: 1fr 1fr 1fr 1fr;*/
  width: 90%;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  margin: auto;
  margin-top: -140px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 100px;
}

.hero-photo-div {
  width: 22vw;
  height: 400px;
  overflow: hidden;
  background-position: center;
  background-image: url("../../images/Prix_fixe.png");
  background-size: 95%;
  background-repeat: no-repeat;
  margin: auto;
}

.hero-grid-ind-img {
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: 150px; */
}

span.photo-Title {
  font-family: WorkSans-Light;
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
  display: inline-block;
  text-align: center;
  width: 228px;
  margin-top: 20px;
}
