.hero-photo-grid-container {
  /* outline: red solid 2px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  vertical-align: auto;
  justify-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  /* test */
}

.hero-photo-div,
.hero-photo-div2,
.hero-photo-div3,
.hero-photo-div4 {
  display: grid;
  /* width: 95%; */
  width: 400px;
  height: 200px;
  overflow: hidden;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  margin: auto;
  display: inline-block;
  /* position: relative; */
  /* border: 2px solid red; */
}

.hero-photo-div:hover,
.hero-photo-div2:hover,
.hero-photo-div3:hover,
.hero-photo-div4:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.hero-photo-div {
  background-image: url("../../images/Prix_fixe.png");
}
.hero-photo-div2 {
  background-image: url("../../images/Prix_fixe_with_Wine.png");
}
.hero-photo-div3 {
  background-image: url("../../images/Prix_fixe_with_tea.JPG");
}
.hero-photo-div4 {
  background-image: url("../../images/Prix_fix_with_coffee.png");
}

span.photo-Title {
  font-family: WorkSans-Light;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt;
  display: inline-block;
  display: grid;
  text-align: center;
  width: 400px;
}

/* @media (max-width: 1190px) {
  .hero-photo-grid-container {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    display: grid;
    grid-gap: 1rem;
    padding: 0;
    margin: auto;
    align-items: center;
  }
  .hero-photo-div,
  .hero-photo-div2,
  .hero-photo-div3,
  .hero-photo-div4 {
    width: 2fr;
  }
} */
