@import url("https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap");

.container-nav {
  /* position: fixed; */
  top:0;
  left:0;
  display: flex;
  align-items: center;
  padding: 0 10% 0 10%;
  background-color: #f3c26c;
  height: 80px;
  font-family: "Work Sans", sans-serif;
  width: 100%;
}

.logo img {
  width: 100px;
  margin-right: 40px;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.links li {
  display: flex;
}

.links a {
  text-decoration: none;
  font-size: 1.14em;
  font-weight: 600;
  color: white;
  padding: 0 3rem;
}

.links a:hover {
  color: white;
}

.covidInfo {
  background-color: #ffe59b;
  text-align: center;
  line-height: 40px;
  justify-content: center;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

i {
  font-size: 20px;
  color: #ffe59b;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  padding: 10px;
}
@media (max-width: 1415px) {
  .links a {
    font-size: 1em;
    padding: 0 1rem;
  }
}

@media (max-width: 1135px) {
  .links a {
    font-size: 1em;
    padding: 0 0.5rem;
  }
}

@media (max-width: 970px) {
  .links a {
    font-size: 0.8em;
    padding: 0 0.3rem;
  }
  .logo img 
  {
    margin-right: 7px; 
  }
}

@media (max-width: 768px) {
  .nav-links,
  i,
  .covidInfo {
    display: none;
  }
  .logo img {
    margin-left: 2rem;
  }

  .container-nav {
    position: fixed;
  }
  /* .container-nav{
    position: fixed;
    z-index: 400;
  } */
}
