@import url('https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap');


div.review-containers  {
  border-top: 3px dotted #f3c26c;
  margin-left: 150px;
  margin-right: 150px;
}

h2.reviewsTitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Cormorant", serif;
  border-bottom: 1px solid #f3c26c;
  width: 154px;
  height: 70px;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 20px;
  margin-top: 5%;
}

.reviews {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -25px;
  height: 400px;
}

.scrollTop {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 5%;
  font-size: 13px;
}

p.web {
  font-size: 15px;
  margin-left: 13%;
  margin-top: 5%;
}

a.web, .web a:visited {
  color:blue;
}

@media (max-width: 768px) {
  .review-container {
    height: 600px;
  }

  .reviews {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }

  div.scrollTop { 
    margin: 20% 0px;
  }
}