@import url("https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap");

img.frontquote {
  width: 70px;
  height: 50px;
}

img.backquote {
  width: 61px;
  height: 44px;
  margin-top: 50%;
}

.whole-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

h2.reviewsTitle {
  width: 154px;
  height: 58px;
  font-family: Cormorant;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

div.review-line {
  width: 154px;
  border-bottom: solid 2px #f3c26c;
}

.review-containers {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

div.big-review {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10% 0;
}

div.review-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: center;
  width: 100%;
}

div.reviews {
  display: grid;
  grid-template-columns: 83px 380px 83px;
  justify-items: center;
}

p.review-name,
p.web {
  text-align: left;
  padding-left: 15%;
  padding-top: 5%;
}

p.review-detail {
  font-size: 24px;
  height: 140px;
  /* font-family: WorkSans; */
}

.scrollTop {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 5%;
  font-size: 13px;
}

a.web,
.web a:visited {
  color: blue;
}

@media (max-width: 768px) {
  .review-containers {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
  }

  .reviews p {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  div.scrollTop {
    margin: 10% 0px 5% 0px;
    bottom: 0;
  }

  img.frontquote,
  img.backquote {
    width: 43px;
    height: 30px;
  }

  img.backquote {
    margin-top: 80%;
  }

  .reviewsTitle h2 {
    font-size: 40px;
  }

  p.review-name,
  p.web {
    padding-top: 0;
  }

  div.review-line {
    margin-bottom: 5%;
  }
}

@media (max-width: 400px) {
  div.reviews {
    grid-template-columns: 30px 280px 30px;
  }
}
