@import url('https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap');




.scrollTop {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 5%;
  font-size: 13px;
}

p.web {
  font-size: 15px;
  margin-left: 13%;
  margin-top: 5%;
}

a.web, .web a:visited {
  color:blue;
}

@media (max-width: 768px) {
  .review-container {
    height: 600px;
  }

  .reviews {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }

  div.scrollTop { 
    margin: 20% 0px;
  }
}