div.menu {
  margin: 0 10%;
  border-top: 3px dotted #f3c26c;
}

h2.title-menu {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  font-family: Cormorant;
  padding-bottom: 1.2rem;
  padding-top: 4%;
}

div.menu-line {
  margin: 0 auto;
  border-bottom: 2px solid #f3c26c;
  width: 109px;
}
/* 
div.title-line {
  margin: 0 auto;
  border-bottom: 2px solid #f3c26c;
  width: 108px;
} */

div.menu-title-cont {
  margin-bottom: 3.5%;
  padding-top: 4%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

h3.menu-title {
  font-size: 30px;
  font-family: WorkSans;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding-bottom: 1.5%;
}

.menu-title:active,
.menu-title:hover {
  opacity: 1;
  color: black;
  border-bottom: 2px solid #f3c26c;
  font-weight: bold;
}

.active-menu {
  padding-bottom: 1.5%;
  font-size: 30px;
  font-family: WorkSans;
  font-weight: 500;
  opacity: 1;
  color: black;
  border-bottom: 2px solid #f3c26c;
  font-weight: bold;
}

.img-cont {
  display: block;
  margin: 0 auto;
}

/* =========================================================
        Testing Menu Code
========================================================= */

.menu-highlight-container {
  border: #f3c26c 2.5px solid;
  width: 65%;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 50px;
}

.menu-highlight-heading {
  /* border: red 3px solid; */
  text-align: center;
  font-family: WorkSans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
}

.menu-highlight-heading2 {
  text-align: center;
  font-family: WorkSans, sans-serif;
  /* border: blue 3px solid; */
  font-size: 13px;
  font-weight: normal;
  line-height: 2;
}

.menu-highlight-indent {
  padding-left: 20px;
  /* border: 1px solid green; */
}

.dessert-menu-container {
  /* border: 2px blue solid; */
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3.5vw 1fr 3.5vw 1fr 3vw;
  grid-gap: 10px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.dessert-menu-container div {
  /* border: 2px red solid; */
  align-items: right;
  margin-bottom: 25px;
}

.dessert-menu-container h3 {
  font-family: WorkSans, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.42;
  letter-spacing: normal;
}

.dessert-menu-container h4 {
  padding-top: 5px;
  font-family: WorkSans, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-stretch: wider;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #000000;
}

.dessert-menu-price p {
  font-family: WorkSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* ====================================================
      Dessert menu
===================================================== */

.beverage-highlight-container {
  border: #f3c26c 2.5px solid;
  width: 60%;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
  margin-top: 50px;
}

.beverage-highlight-heading {
  text-align: center;
  font-family: WorkSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
}

.beverage-highlight-heading2 {
  text-align: center;
  font-family: WorkSans, sans-serif;
  /* border: blue 3px solid; */
  font-size: 13px;
  font-weight: normal;
  line-height: 2;
}

.beverage-menu-size-heading-desktop {
  /* border: 2px purple solid; */
  width: 90%;
  display: grid;
  grid-template-columns: 22.5vw 7vw 23vw 7vw 23vw 7vw;
  margin: auto;
  margin-top: 50px;
}

.beverage-menu-size-heading-desktop h4 {
  /* border: 2px greenyellow solid; */
  text-align: end;

  font-family: WorkSans, sans-serif;

  font-size: 12px;
}
.beverage-menu-size-heading-desktop h3 {
  /* border: 2px greenyellow solid; */
  text-align: center;
  font-family: WorkSans, sans-serif;

  font-size: 12px;
  font-weight: bold;
  /* line-height: 2; */
}

.beverage-menu-container {
  /* border: 2px blue solid; */
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 15px;
}

.beverage-menu-left-section,
.beverage-menu-middle-section,
.beverage-menu-right-section {
  /* border: 2px black solid; */
  align-items: right;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 19.5vw 3vw 6vw;
}

.beverage-menu-container h3 {
  /* border: 2px black solid; */
  font-family: WorkSans, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.42;
  letter-spacing: normal;
  margin-top: 10px;
}

.beverage-menu-container-glass-prices,
.beverage-menu-container-bottle-prices {
  /* border: 2px brown solid; */
  font-family: WorkSans, sans-serif;
  font-size: 0.85vw;
  line-height: 17pt;
  text-align: center;
  line-height: 1.5vw;
  margin-top: 2.5vw;
}

.beverage-menu-container-div p {
  /* border: 2px brown solid; */
  font-family: WorkSans, sans-serif;
  font-size: 1.1vw;
  line-height: 1.5vw;
}

.beverage-menu-size-heading-mobile {
  display: none;
}

/* ====================================================
      Media Queries
===================================================== */

@media (max-width: 768px) {
  .menu-highlight-container,
  .beverage-highlight-container {
    border: #f3c26c 2.5px solid;
    width: 80%;
    height: 110px;
    margin: 20px auto;
    padding: 20px;
  }

  .dessert-menu-container {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 3.5vw;
  }

  .beverage-menu-container {
    /* border: 2px blue solid; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -25px;
    /* padding-left: 2vw; */
  }

  .beverage-menu-left-section,
  .beverage-menu-middle-section,
  .beverage-menu-right-section {
    /* border: 2px black solid; */
    align-items: center;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .beverage-menu-container h3 {
    /* border: 2px black solid; */
    font-family: WorkSans, sans-serif;
    font-size: 3vw;
    font-weight: 800;
    line-height: 1.42;
    letter-spacing: normal;
    margin-top: 10px;
  }

  .beverage-menu-container-glass-prices,
  .beverage-menu-container-bottle-prices {
    /* border: 2px red solid; */
    font-family: WorkSans, sans-serif;
    font-size: 2.5vw;
    line-height: 17pt;
    text-align: center;
    padding-top: 4.8vh;
  }

  .beverage-menu-container-div p {
    /* border: 2px brown solid; */
    font-family: WorkSans, sans-serif;
    font-size: 2.8vw;
    line-height: 16pt;
  }

  .beverage-menu-size-heading-mobile {
    /* border: 2px purple solid; */
    width: 40%;
    display: grid;
    grid-template-columns: 22.5vw 7vw;
    margin-left: 58%;
    /* margin-top: 50px; */
  }

  .beverage-menu-size-heading-desktop {
    border: 2px greenyellow solid;
    display: none;
  }

  .menu-highlight-heading {
    /* border: red 3px solid; */
    text-align: center;
    font-family: WorkSans, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
  }

  .menu-highlight-heading2 {
    text-align: center;
    font-family: WorkSans, sans-serif;
    /* border: blue 3px solid; */
    font-size: 10px;
    font-weight: normal;
    line-height: 2;
  }
}
