div.menu {
  margin: 0 10%;
  border-top: 3px dotted #f3c26c;
}

h2.title-menu {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  font-family: Cormorant;
  padding-bottom: 1.5%;
  padding-top: 4%;
}

div.menu-line {
  margin: 0 auto;
  border-bottom: 2px solid #f3c26c;
  width: 109px;
}
/* 
div.title-line {
  margin: 0 auto;
  border-bottom: 2px solid #f3c26c;
  width: 108px;
} */

div.menu-title-cont {
  padding-top: 4%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

h3.menu-title {
  font-size: 30px;
  font-family: WorkSans;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding-bottom: 1.5%;
}

.menu-title:active,
.menu-title:hover {
  opacity: 1;
  color: black;
  border-bottom: 2px solid #f3c26c;
  font-weight: bold;
}

.img-cont {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .img-cont {
    display: none;
  }
}

/* =========================================================
        Testing Menu Code
========================================================= */

.menu-highlight-container {
  border: #f3c26c 2.5px solid;
  width: 60%;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
}

.menu-highlight-heading {
  /* border: red 3px solid; */
  text-align: center;
  font-family: WorkSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
}

.menu-highlight-heading2 {
  text-align: center;
  font-family: WorkSans, sans-serif;
  /* border: blue 3px solid; */
  font-size: 13px;
  font-weight: normal;
  line-height: 2;
}

.menu-highlight-indent {
  padding-left: 20px;
  /* border: 1px solid green; */
}

.dessert-menu-container {
  /* border: 2px blue solid; */
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3.5vw 1fr 3.5vw 1fr 3vw;
  grid-gap: 10px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.dessert-menu-container div {
  /* border: 2px red solid; */
  align-items: right;
  margin-bottom: 25px;
}

.dessert-menu-container h3 {
  font-family: WorkSans, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.42;
  letter-spacing: normal;
}

.dessert-menu-container h4 {
  padding-top: 5px;
  font-family: WorkSans, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-stretch: wider;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #000000;
}

.dessert-menu-price p {
  font-family: WorkSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

/* ====================================================
      Dessert menu
===================================================== */

.beverage-highlight-container {
  border: #f3c26c 2.5px solid;
  width: 60%;
  height: 100px;
  margin: 0 auto;
  padding-top: 20px;
}

.beverage-highlight-heading {
  text-align: center;
  font-family: WorkSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
}

.beverage-highlight-heading2 {
  text-align: center;
  font-family: WorkSans, sans-serif;
  /* border: blue 3px solid; */
  font-size: 13px;
  font-weight: normal;
  line-height: 2;
}
