.hero-grid-dotted-line {
  border-top: 3px dotted #f3c26c;
  width: 90%;
  margin: auto;
  margin-bottom: 4vw;
}

.hero-grid-title {
  font-family: cormorant;
  font-size: 2.4vw;
  margin: 50px auto 0;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.hero-grid-line {
  border-top: 3px solid #f3c26c;
  width: 15%;
  margin: auto;
}

.hero-photo-grid-container {
  width: 90%;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  margin: auto;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 100px;
}

.hero-grid-ind-img {
  margin: auto;
  margin-top: 5rem;

  position: relative;
  overflow: hidden;
  width: 230px;
}
.bottom-text {
  margin: auto;
  max-width: 20vw;
  margin-bottom: 6vh;
}

.bottom-text p,
a {
  font-family: WorkSans;
}
a {
  text-decoration: underline;
  color: blue;
}

a:active {
  color: black;
}
