@import url('https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap');

.contact-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.mock-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}