@import url("https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap");

.contact-container {
  display: flex;
  margin: 5% auto;
  justify-content: center;
}

.social-container {
  height: 560px;
}

h2.loco {
  /* height: 60px; */
  /* width: 340px; */
  font-family: Cormorant;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 1.2rem;
}

h2.cont {
  /* height: 60px;
  width: 340px; */
  font-family: Cormorant;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 1.2rem;
}


/* h2.cont {
  padding-bottom: 15px;
} */
div.cont-line {
  border-bottom: 2px solid #f3c26c;
  width: 213px;
  margin-bottom: 13%;
  /* margin-top: 4%; */
}

div.cont-line-loco {
  border-bottom: 2px solid #f3c26c;
  width: 340px;
}

.mock-container {
  display: flex;
  align-items: center;
}
.map-img {
  margin-right: 10%;
}

h2.loco,
h2.cont {
  margin-top: 0;
}
.social h4 {
  margin-top: 2.8%;
}

.location-container,
.social-container {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}
.transportation {
  align-self: flex-start;
}
.heading-location {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 2.3;
}
.info-location {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
.trains-container {
  margin-top: -10%;
  padding-bottom: 49%;
}
a.take-out {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.contact-svg {
  height: 32px;
  padding: 1%;
  margin: 0 5% 0 0;
}

p.info-location {
  width: 100%;
  line-height: 4vh;
}

.reservation {
  padding-top: 30%;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mock-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .trains-container {
    margin-top: 0;
    padding-bottom: 0;
  }
  .reservation {
    padding-top: 0;
  }
  .social-container {
    width: 70%;
  }
  
  .map-img img{
    margin-top: 8%;
  }
}
@media (max-width: 550px) {
  h2.cont,
  .cont-line {
    display: none;
  }
}
