@import url("https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap");

.hero-container {
  padding: 0;
  margin: auto;
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . ."
    "i i i i i i i"
    "i i i i i i i"
    "i i i i i i i"
    "i i i i i i i"
    "i i i i i i i"
    "i i i i i i i";
}

.hero-button {
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 800;
  background-color: #f3c26c;
  max-width: 10vw;
  margin-top: 5vh;
  /* display: grid; */
  /* position: relative; */
  /* grid-column: 1 / span 1; */
  /* grid-row: 6 / span 3; */
}

.hero-image {
  max-width: 100%;
  display: inline;
  grid-area: i;
}

.hero-text-block {
  display: grid;
  position: relative;
  text-align: left;
  grid-column: 1 / span 4;
  grid-row: 3 / span 2;
  margin-left: 3vw;
}
.heroTitle {
  font-family: "Cormorant", serif;
  font-size: 5vw;
  font-weight: bold;
}

.heroSlogan {
  font-family: "Cormorant", serif;
  font-size: 2.4vw;
  font-weight: 500;
}

/* return (
    <div className="hero-container">
      <img className="hero-image" src={HeroImg} alt="hero"></img>

      <div className="hero-text-block">
        <h2 className="heroTitle">We Dessert First.</h2>
        <h4 className="heroSlogan">Even at home.</h4>
        <button className="hero-button">Order Online</button>
      </div>
    </div>
  );
} */
