@import url("https://fonts.googleapis.com/css?family=Cormorant|Work+Sans:400,600,700&display=swap");

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border-top: 3px dotted #f3c26c;
  margin-left: 130px;
  margin-right: 130px;
  height: 20vh;
}

.icons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 20%;
  justify-content: center;
}

.icons svg {
  margin: 0 10% 0 10%;
  padding: 4px;
  text-align: center;
}

.terms p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.8rem;
}

span.termsLine {
  padding-left: 10px;
  text-align: center;
}

.svg-links a {
  cursor: pointer;
}

@media (max-width: 550px) {
  .footer-container {
    margin-right: 0;
    margin-left: 0;
  }
}
